/* -------------------------------
   🎛 PROJECT FILTERS UI
--------------------------------- */

@use '@/styles/base/breakpoints' as *;

.filtersWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  flex-wrap: wrap;
  padding: var(--space-md) var(--space-xl);
  justify-content: flex-start;
  position: fixed;
  z-index: 999999;

  @include down($bp-sm) {
    justify-content: center;
  }
}

.filtersButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-xs) var(--space-md);
  border: none;
  background: none;
  cursor: pointer;
  transition: var(--transition-base);

  svg {
    width: 2rem;
    height: auto;
    opacity: 1;
    transform: scale(1);
    color: var(--text-color);
    transition: var(--transition-base);
  }

  &:hover svg {
    opacity: 0.8;
    transform: scale(1.05);
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);

  @include down($bp-sm) {
    justify-content: center;
  }
}

.filterBtn {
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  padding: 0.4rem 1rem;
  font-size: var(--font-size-sm);
  cursor: pointer;
  color: var(--text-color);
  transition: color var(--duration-base) var(--easing-in-out);

  &:hover {
    color: #bbb;

    html.light-mode & {
      color: #333;
    }
  }

  &.active {
    border-bottom: 1px solid var(--text-color);
    font-weight: 600;
  }
}
