// src/styles/base/_fonts.scss

@font-face {
     font-family: 'Helvetica Now Display';
     src: url('/fonts/HelveticaNowDisplay-Thin.woff2') format('woff2'),
          url('/fonts/HelveticaNowDisplay-Thin.woff') format('woff');
     font-weight: 100;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'Helvetica Now Display';
     src: url('/fonts/HelveticaNowDisplay-Light.woff2') format('woff2'),
          url('/fonts/HelveticaNowDisplay-Light.woff') format('woff');
     font-weight: 300;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'Helvetica Now Display';
     src: url('/fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
          url('/fonts/HelveticaNowDisplay-Regular.woff') format('woff');
     font-weight: 400;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'Helvetica Now Display';
     src: url('/fonts/HelveticaNowDisplay-RegIta.woff2') format('woff2'),
          url('/fonts/HelveticaNowDisplay-RegIta.woff') format('woff');
     font-weight: 400;
     font-style: italic;
   }
   
   @font-face {
     font-family: 'Helvetica Now Display';
     src: url('/fonts/HelveticaNowDisplay-Medium.woff2') format('woff2'),
          url('/fonts/HelveticaNowDisplay-Medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'Helvetica Now Display';
     src: url('/fonts/HelveticaNowDisplay-MedIta.woff2') format('woff2'),
          url('/fonts/HelveticaNowDisplay-MedIta.woff') format('woff');
     font-weight: 500;
     font-style: italic;
   }
   
   @font-face {
     font-family: 'Helvetica Now Display';
     src: url('/fonts/HelveticaNowDisplay-Bold.woff2') format('woff2'),
          url('/fonts/HelveticaNowDisplay-Bold.woff') format('woff');
     font-weight: 700;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'Helvetica Now Display';
     src: url('/fonts/HelveticaNowDisplay-ExtBlkIta.woff2') format('woff2'),
          url('/fonts/HelveticaNowDisplay-ExtBlkIta.woff') format('woff');
     font-weight: 900;
     font-style: italic;
   }
   